$color-electron-blue: #0984e3;
$color-american-river: #636e72;
$color-bright-yarrow: #fdcb6e;
$color-mint-leaf: #00b894;
$color-pico-8-pink: #fd79a8;
$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);

$media: screen;
$width-breakpoint-1: 900px;
