@import '../sass/abstracts/variables';

@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0;
  }
}

.active {
  box-shadow: 20px 20px 60px #d7ad5e, -20px -20px 60px #ffe97f;
}

.note {
  position: relative;
  width: 300px;
  padding: 2.5rem 1rem 1rem;
  box-sizing: border-box;
  position: relative;
  border-radius: 3px;
  background: $color-bright-yarrow;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  .textarea {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 16px;
    resize: none;
    outline: none;
    border: none;
  }

  .delete {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    gap: 1rem;
    cursor: pointer;
  }

  span {
    white-space: pre-wrap;
  }
}
