@import '../sass/abstracts/variables';

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: whitesmoke;
  background-color: $color-electron-blue;
  user-select: none;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
